<div class="container spacing-maintenance">
    <p-toast position="bottom-center"></p-toast>

    <h1>Scheduled Maintenances</h1>
    <div class="row spacing-maintenance">
        <div class="col-md-12">
            <div class="card">
                <p-toolbar>
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New Maintenance" icon="pi pi-plus" class="p-button-raised" (click)="openMaintenanceDialog()"></button>
                    </ng-template>
                </p-toolbar>
            
                <p-table #dt [value]="maintenances" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Reason</th>
                            <th>Starting Date</th>
                            <th>Ending Date</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-maintenance>
                        <tr>
                            <td>{{maintenance.reason ? maintenance.reason : '-'}}</td>
                            <td>{{maintenance.startPeriodMaintenance | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{maintenance.endPeriodMaintenance | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-raised"
                                    (click)="editMaintenance(maintenance)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-raised p-button-danger" 
                                    (click)="confirmMaintenanceDeletion(maintenance)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showMaintenanceDialog" header="New Maintenance" [modal]="true" styleClass="p-fluid" [closable]="false">
        <ng-template pTemplate="content">
            <form [formGroup]="formScheduleMaintenance" >
                <div class="form-group">
                    <label for="name">Reason for maintenance</label>
                    <input id="reason" type="text" formControlName="reason" pInputText autofocus />
                </div>
        
                <div class="row">
                    <div class="form-group col">
                        <label for="startDateTime">Start Date/Time</label>
                        <p-calendar inputId="startDateTime" formControlName="startPeriodMaintenance" [readonlyInput]="true"
                            [showIcon]="true" [showTime]="true" appendTo="body" dateFormat="yy-mm-dd" [minDate]="minStartDate" (onSelect)="setMinEndDate()"></p-calendar>
                        <div *ngIf="formScheduleMaintenance.controls['startPeriodMaintenance'].invalid && 
                                (formScheduleMaintenance.controls['startPeriodMaintenance'].dirty || formScheduleMaintenance.controls['startPeriodMaintenance'].touched)">

                            <div *ngIf="formScheduleMaintenance.controls['startPeriodMaintenance'].errors?.required">
                                <p class="p-error">Field required</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group col">
                        <label for="endDateTime">End Date/Time</label>
                        <p-calendar inputId="startDateTime" formControlName="endPeriodMaintenance" [readonlyInput]="true"
                            [showIcon]="true" [showTime]="true" appendTo="body" dateFormat="yy-mm-dd" [minDate]="minEndDate"></p-calendar>
                        <div *ngIf="formScheduleMaintenance.controls['endPeriodMaintenance'].invalid && 
                                (formScheduleMaintenance.controls['endPeriodMaintenance'].dirty || formScheduleMaintenance.controls['endPeriodMaintenance'].touched)">

                            <div *ngIf="formScheduleMaintenance.controls['endPeriodMaintenance'].errors?.required">
                                <p class="p-error">Field required</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-outlined" (click)="closeMaintenanceDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success" (click)="submitMaintenance()"></button>
        </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>