.home-bg {
    background-image: url(../../../assets/img/home-shop-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    height: 100vh;
    width: 100vw;
    padding-top: 10px;
}

.p-card-header {
    text-align: center;
}

h1, h3 {
    color: white;
}

.maintenance-panel {
    margin-bottom: 15px;
    padding: 20px;
    backdrop-filter: blur(10px);

    p {
        color: white;
    }
}

.options-panel {
    margin-top: 5%;
}
