<div class="home-bg">
    <div class="container spacing-home">
        <h1 class="display-3 text-center">Welcome to SmartShop</h1>
        <h3 class="display-4 text-center">Your favorite products with incredible prices!</h3>
    
        <div class="row maintenance-panel" *ngIf="maintenances.length > 0">
            <h3 class="text-center">We're going into maintenance</h3>
            <p>
                Dear customers, our website will be on maintenance in the following periods below. During this time, our system can be unavailable or some features 
                will not respond. We'll be right back, better than before!
            </p>
            <p></p>
            <div class="col-md-12">
                <p-table #dt [value]="maintenances" [rowHover]="true" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Reason</th>
                                <th>Starting Period</th>
                                <th>Ending Period</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-maintenance>
                            <tr>
                                <td>{{maintenance.reason ? maintenance.reason : '-'}}</td>
                                <td>{{maintenance.startPeriodMaintenance | date: 'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{maintenance.endPeriodMaintenance | date: 'yyyy-MM-dd HH:mm'}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
            </div>
        </div>
        
        <div class="row options-panel">
            <div class="col-md-4">
                <p-card header="New here?" [style]="{width: '360px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../../assets/img/welcome-card.jpg">
                    </ng-template>
                    <p>Create your account now to start shopping and receive exclusive limited-time offers!</p>
                </p-card>
            </div>
    
            <div class="col-md-4">
                <p-card header="Already our customer?" [style]="{width: '360px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../../assets/img/login-card.jpg">
                    </ng-template>
                    <p>Login with your account to track orders, add products to your wishlist or manage your personal information</p>
                </p-card>
            </div>
    
            <div class="col-md-4">
                <p-card header="Need some help?" [style]="{width: '360px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../../assets/img/support-center-card.jpg">
                    </ng-template>
                    <p>Our 24/7 SmartSupport is at your service to assist you solving any questions or problems</p>
                </p-card>
            </div>
        </div>
    </div>
</div>
